/*Import  less files here */
.Center {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.TestBorder {
  border: 2px solid red;
}
.BorderBottom {
  border-bottom: 1px solid #568ea3;
}
.BorderBottom width {
  width: 100%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'MerriWeather', sans-serif;
  color: #000000;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Merriweather', sans-serif;
  color: #000000;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 75%;
  width: 100%;
  margin: 0 auto;
}
.container nav {
  display: flex;
  flex-direction: row;
  font-size: 2.5rem;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  .container nav {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .container nav {
    display: flex;
    flex-direction: column;
  }
}
.container nav h1 {
  color: #68C3d4;
  font-size: 5rem;
  width: 25%;
}
@media (max-width: 500px) {
  .container nav h1 {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 75%;
    padding: .5rem;
  }
}
.container nav .NavLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}
@media (max-width: 500px) {
  .container nav .NavLinks {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
@media (max-width: 800px) {
  .container nav .NavLinks {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
.container nav .NavLinks div a {
  font-size: 2rem;
  text-decoration: none;
  color: #000000;
}
.container nav .NavLinks div a:hover {
  color: lightgray;
}
@media (max-width: 500px) {
  .container nav .NavLinks div a {
    width: 100%;
    padding: .5rem;
  }
}
footer {
  background: #568ea3;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
}
footer p {
  font-size: 1.5rem;
}
.developer-info {
  margin: 0 auto;
  width: 100%;
  margin-top: 5rem;
  padding-top: 3rem;
}
.developer-info img {
  width: 10vw;
}
.developer-info .pl-lennox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid #568ea3;
}
.developer-info .pl-lennox width {
  width: 100%;
}
.developer-info .pl-caleb {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
  padding-bottom: 5rem;
  margin-right: 3.8rem;
  border-bottom: 1px solid #568ea3;
}
.developer-info .pl-caleb width {
  width: 100%;
}
.developer-info .pl-yarriba {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
  padding-bottom: 5rem;
  margin-left: 1rem;
  border-bottom: 1px solid #568ea3;
}
.developer-info .pl-yarriba width {
  width: 100%;
}
.developer-info .pl-laura {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
  padding-bottom: 5rem;
  margin-left: 1.5rem;
  border-bottom: 1px solid #568ea3;
}
.developer-info .pl-laura width {
  width: 100%;
}
.developer-info .pl-jada {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
  padding-bottom: 5rem;
  margin-left: 0.6rem;
  border-bottom: 1px solid #568ea3;
}
.developer-info .pl-jada width {
  width: 100%;
}
