/*Import  less files here */
.Center {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.TestBorder {
  border: 2px solid red;
}
.BorderBottom {
  border-bottom: 1px solid #568ea3;
}
.BorderBottom width {
  width: 100%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'MerriWeather', sans-serif;
  color: #000000;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Merriweather', sans-serif;
  color: #000000;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 75%;
  width: 100%;
  margin: 0 auto;
}
.container nav {
  display: flex;
  flex-direction: row;
  font-size: 2.5rem;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  .container nav {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .container nav {
    display: flex;
    flex-direction: column;
  }
}
.container nav h1 {
  color: #68C3d4;
  font-size: 5rem;
  width: 25%;
}
@media (max-width: 500px) {
  .container nav h1 {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 75%;
    padding: .5rem;
  }
}
.container nav .NavLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}
@media (max-width: 500px) {
  .container nav .NavLinks {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
@media (max-width: 800px) {
  .container nav .NavLinks {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
.container nav .NavLinks div a {
  font-size: 2rem;
  text-decoration: none;
  color: #000000;
}
.container nav .NavLinks div a:hover {
  color: lightgray;
}
@media (max-width: 500px) {
  .container nav .NavLinks div a {
    width: 100%;
    padding: .5rem;
  }
}
footer {
  background: #568ea3;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
}
footer p {
  font-size: 1.5rem;
}
.container .HeaderSection .HeaderImage .HeaderImg {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .container .HeaderSection .HeaderImage .HeaderImg {
    padding: .5rem;
  }
}
.container .HeaderSection .HeaderPara {
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 2rem;
}
.container .SignUpSection {
  display: flex;
  flex-flow: row;
}
@media (max-width: 500px) {
  .container .SignUpSection {
    display: flex;
    flex-direction: column-reverse;
  }
}
.container .SignUpSection .InfoBox {
  padding: .5rem;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 500px) {
  .container .SignUpSection .InfoBox {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
}
.container .SignUpSection .InfoBox h1 {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}
.container .SignUpSection .InfoBox p {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
}
.container .SignUpSection .ClientImgBox {
  width: 65%;
  margin: 1rem;
}
@media (max-width: 500px) {
  .container .SignUpSection .ClientImgBox {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid black;
  }
}
.container .SignUpSection .ClientImgBox .SignUpImg {
  padding-bottom: 10px;
}
.container .SignUpSection .ClientImgBox button {
  width: 100%;
  height: 8rem;
  border: .5px solid black;
  background-color: #68c3d4;
  color: #f2f7f2;
  font-size: 3.5rem;
}
@media (max-width: 500px) {
  .container .SignUpSection .ClientImgBox button {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
}
.container .ViewStylistSection {
  display: flex;
  flex-flow: row;
}
@media (max-width: 500px) {
  .container .ViewStylistSection {
    display: flex;
    flex-direction: column-reverse;
  }
}
.container .ViewStylistSection .StylistBio {
  padding: 1rem;
  width: 45%;
}
@media (max-width: 500px) {
  .container .ViewStylistSection .StylistBio {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.container .ViewStylistSection .StylistBio h1 {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}
.container .ViewStylistSection .StylistBio p {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
}
.container .ViewStylistSection .ViewStylistsImgs {
  width: 65%;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .container .ViewStylistSection .ViewStylistsImgs {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
}
.container .ViewStylistSection .ViewStylistsImgs .Img1 {
  width: 33%;
}
@media (max-width: 500px) {
  .container .ViewStylistSection .ViewStylistsImgs .Img1 {
    width: 90vw;
    margin-bottom: 1rem;
  }
}
.container .ViewStylistSection .ViewStylistsImgs .Img2 {
  width: 33%;
}
@media (max-width: 500px) {
  .container .ViewStylistSection .ViewStylistsImgs .Img2 {
    width: 90vw;
    margin-bottom: 1rem;
  }
}
.container .ViewStylistSection .ViewStylistsImgs .Img3 {
  width: 33%;
}
@media (max-width: 500px) {
  .container .ViewStylistSection .ViewStylistsImgs .Img3 {
    width: 90vw;
    margin-bottom: 1rem;
  }
}
.container .SignUpArea {
  display: flex;
  flex-direction: row;
}
@media (max-width: 500px) {
  .container .SignUpArea {
    display: flex;
    flex-direction: column;
  }
}
.container .SignUpArea .ClientContainer {
  width: 100%;
  height: 100%;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: #568ea3;
}
.container .SignUpArea .ClientContainer h1 {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 4.5rem;
  padding: 2rem;
}
.container .SignUpArea .ClientContainer h3 {
  font-size: 2rem;
  text-align: center;
  padding: 2.9rem;
}
.container .SignUpArea .ClientContainer .ClientButton {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin: center 2rem;
  padding: 5px;
  width: 65%;
  height: 3rem;
  border: none;
  background-color: #f2f7f2;
  color: #000000;
  font-size: 2rem;
}
.container .SignUpArea .StylistContainer {
  width: 100%;
  height: 100%;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: #d1f0b1;
}
.container .SignUpArea .StylistContainer h1 {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 4.5rem;
  padding: 2rem;
}
.container .SignUpArea .StylistContainer h3 {
  font-size: 2rem;
  text-align: center;
  padding: 2.9rem;
}
.container .SignUpArea .StylistContainer .StylistButton {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin: center 2rem;
  padding: 5px;
  width: 65%;
  height: 3rem;
  border: none;
  background-color: #f2f7f2;
  color: #000000;
  font-size: 2rem;
}
.container .StylistShowcase {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.container .StylistShowcase h2 {
  font-size: 3.5rem;
  text-align: center;
  margin: 2rem;
}
.container .StylistShowcase p {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.container .StylistShowcase .ShowCaseImg {
  margin: 1rem;
}
