// out: ../CSS/about-page
/*Import  less files here */
@import "variables.less";
@import "mixins.less";
@import "reset.less";
@import "global.less";
@import "navigation.less";
@import "footer.less";


.developer-info {
    margin: 0 auto;
    width: 100%;
    margin-top: 5rem;
    padding-top: 3rem;

}

.developer-info img {
        width: 22rem;
        height: 20rem;
     }


.pl-lennox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
    padding-bottom: 5rem;
    .BorderBottom()
}

.pl-caleb {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
    padding-bottom: 5rem;
    margin-right:3.8rem;
    .BorderBottom()
}

.pl-yarriba {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
    padding-bottom: 5rem;
    margin-left: 1rem;
    .BorderBottom()
}

.pl-laura {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
    padding-bottom: 5rem;
    margin-left: 1.5rem;
    .BorderBottom()
}

.pl-jada {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
    padding-bottom: 5rem;
    margin-left: 0.6rem;
    .BorderBottom()
}