// out: false
footer {
<<<<<<< HEAD
  background: @footer-background;
=======
  .TestBorder();
  background: @rackley;
>>>>>>> 8c39923aca7f66690696f7befb369fe504e237f5
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  p{
    font-size: 1.5rem;
  }
}