// out: false
.Center {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

<<<<<<< HEAD
=======
.TestBorder {
  border: 2px solid red;
}
>>>>>>> 76fb22e2d1a0945ee19aa7e3186091c0c0272d07

.BorderBottom {
  border-bottom: 1px solid #568ea3;

  width {
    width: 100%;
  }

  .flex(@jc: none, @ai: none, @dir: row) {
    display: flex;
    justify-content: @jc;
    align-items: @ai;
    flex-direction: @dir;
  }
}