// out: false
.Center {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}


<<<<<<< HEAD
.BorderBottom {
  border-bottom: 1px solid #568ea3;
=======
width {
  width: 100%;
}

.flex(@jc: none, @ai: none, @dir: row) {
  display: flex;
  justify-content: @jc;
  align-items: @ai;
  flex-direction: @dir;
>>>>>>> 8c39923aca7f66690696f7befb369fe504e237f5
}