// out: false
.Center {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.TestBorder {
  border: 2px solid red;
}

.BorderBottom {
  border-bottom: 1px solid #568ea3;

  width {
    width: 100%;
  }

  
}