// out: false
.container {
    nav {
        display: flex;
        flex-direction: row;
        font-size: 2.5rem;
        justify-content: space-evenly;

        h1 {
            color: #68C3d4;
            font-size: 5rem;
            width: 25%;
        }

        .NavLinks {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 70%;

            div a {
                font-size: 2rem;
                text-decoration: none;

                &:hover {
                    color: lightgray;
                }
            }
        }
    }


}